Source: setuptool
Section: unknown
Priority: optional
Maintainer: gli@kunluntech.com.cn
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
#Vcs-Browser: https://salsa.debian.org/debian/setuptool
#Vcs-Git: https://salsa.debian.org/debian/setuptool.git
Rules-Requires-Root: no

Package: setuptool
Architecture: any
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
